<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="shortcut icon"
      type="images/png"
      href="../../images/csi logo inner.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Fredoka+One|Orbitron:400,500,700,900|Poiret+One|Poppins:200,300,400,500,600,700,800,900|Muli:200,300,400,700,800,900"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
    <script
      src="https://code.jquery.com/jquery-1.12.3.min.js"
      integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
      crossorigin="anonymous"
    ></script>
    <script src="../../js/rellax.min.js"></script>
    <title>CSI | 3rd year</title>
  </head>

  <body>
    <!-- LOADER -->
    <div id="loader__main">
      <div id="loader__pos">
        <div id="loader__logo">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 525.8 519.4"
            style="enable-background: new 0 0 525.8 519.4"
            xml:space="preserve"
          >
            <style type="text/css">
              .st8 {
                fill: #fff;
                stroke: #ffffff;
                stroke-width: 2;
                stroke-miterlimit: 10;
              }

              .st9 {
                fill: #fdfdfe;
                stroke: #2121db;
                stroke-width: 2;
                stroke-miterlimit: 10;
              }
            </style>
            <circle id="XMLID_6_" class="st8" cx="263.6" cy="260.7" r="251.6" />
            <g id="XMLID_1_">
              <path
                id="XMLID_2_"
                class="st9"
                d="M160.6,213.4l-66,48.9c-5.8,4.3-5.6,13,0.3,17l231.4,159.3c7.7,5.3,18.2-0.1,18.3-9.5l3.2-263.3
       c0-3.4-1.5-6.5-4.2-8.6L321.1,140c-7.1-5.5-17.3-0.4-17.3,8.5l0.9,223.6l-127.4-91c-5.6-4-5.9-12.3-0.5-16.6l19-15.5
       c4.8-3.9,5.2-11.1,0.8-15.5l-18.7-18.7C173.2,210.1,165.9,209.5,160.6,213.4z"
              />
              <path
                id="XMLID_3_"
                class="st9"
                d="M281.5,122.5l-95.8,72.1c-4,3-4.5,8.7-1.2,12.4l23.2,25.9c2.6,2.9,7.1,3.2,10,0.7l21.9-18.7
       c5.2-4.5,13.3-0.6,13.1,6.3l-1.8,51.8c-0.2,6.5-8,9.9-12.9,5.5l-10.6-9.4c-3.4-3-8.5-2.6-11.4,0.8l-5.2,6.2
       c-3,3.5-2.3,8.9,1.4,11.6l66.4,48.5c5.7,4.2,13.7,0.1,13.7-7V169.8c0-6.9-8-10.6-13.3-6.3l-54,44.2c-3.2,2.6-8,2-10.4-1.4h0
       c-2.7-3.7-1.8-8.9,1.8-11.7l76-57c3.1-2.4,4.2-6.6,2.4-10.1l-1.1-2.2C291.4,120.8,285.5,119.4,281.5,122.5z"
              />
              <path
                id="XMLID_7_"
                class="st9"
                d="M311.9,100.4L336.5,82c4.6-3.5,11.2-0.2,11.2,5.6v37.8c0,5.8-6.7,9.1-11.3,5.5l-24.6-19
       C308,109,308.1,103.3,311.9,100.4z"
              />
            </g>
          </svg>
        </div>
      </div>
    </div>

    <div class="team-body-bg">
      <img
        class="b1 rellax3"
        src="/images/team/images/svg/distorted.svg"
        alt=""
      />
      <img class="b3 rellax1" src="/images/team/images/svg/ring.svg" alt="" />
      <img
        class="b4 rellax3"
        src="/images/team/images/svg/triangle.svg"
        alt=""
      />
      <img class="b5 rellax2" src="/images/team/images/svg/semiC.svg" alt="" />
      <img
        class="b6 rellax2"
        src="/images/team/images/svg/concentric.svg"
        alt=""
      />
      <img
        class="b8 rellax2"
        src="/images/team/images/svg/ctriangle.svg"
        alt=""
      />
    </div>

    <!-- NAV BAR -->
    <nav class="nav noselect">
      <div class="nav__container">
        <div class="nav__logo">
          <a href="/index">
            <img src="/images/logocsiCenter.png" alt="" />
          </a>
          <div class="navBtn">
            <span>&nbsp;</span>
          </div>
        </div>
        <div class="nav__links">
          <ul class="topLinks">
            <li><a href="/index">Home</a></li>
            <li>
              What We Do
              <ul class="sublinks">
                <li>
                  Events
                  <ul class="subLinksChild">
                    <li><a href="/index/cine">CINE</a></li>
                    <li><a href="/index/the_initiative">The Initiative</a></li>
                    <li><a href="/index/rdm">RDM</a></li>
                    <li><a href="/index/vacanza">Vacanza</a></li>
                  </ul>
                </li>
                <li>
                  Workshops
                  <ul class="subLinksChild">
                    <li>
                      <a href="/index/workshop/mongodb">UI With MongoDB</a>
                    </li>
                    <li>
                      <a href="/index/workshop/andro">Java And Android</a>
                    </li>
                    <li>
                      <a href="/index/workshop/ethicalhac">Ethical Hacking</a>
                    </li>
                    <li><a href="/index/workshop/webd">Web Development</a></li>
                    <li>
                      <a href="/index/workshop/angular"
                        >Web Tech With Angular</a
                      >
                    </li>
                    <li><a href="/index/workshop/blockchain">Blockchain</a></li>
                    <li>
                      <a href="/index/workshop/nodejs">Nodejs With Mongodb</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="/index/#services" data-scroll>Services</a></li>
            <li><a href="/index/aboutus">About Us</a></li>
            <li>
              Our Team
              <ul class="sublinks">
                <li>
                  <a href="/index/team/2year"><div>2nd Year</div></a>
                </li>
                <li>
                  <a href="/index/team/3year"><div>3rd Year</div></a>
                </li>
                <li>
                  <a href="/index/team/4year"><div>4th Year</div></a>
                </li>
              </ul>
            </li>
            <li><a href="/index/the_initiative">The Initiative</a></li>
            <li><a href="/index/#join_us" data-scroll>Join Us</a></li>
            <li><a href="#contact_us" data-scroll>Contact Us</a></li>
            <li><a href="/index/verify">Verify Certi</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="section__heading__align noselect">
      <div class="section__heading">3rd Year</div>
    </div>

    <!-- for some time -->
    <section class="team__gallery">
      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Aditi Mishra.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Aditi Mishra </span>

        <div class="team__iconbox">
          <a
            href="https://instagram.com/aditimishra901?igshid=1ipqt95vnvirr"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/aditimishra901"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/aditi-mishra-4723b71a3"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/AKANKSHA GUPTA.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Akanksha Gupta </span>

        <div class="team__iconbox">
          <a
            href="http://www.instagram.com/buddycurious/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/akanksha2911"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/akanksha-gupta-3572b71b0"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Akash Gupta.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Akash Gupta </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/_akash_621/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/Hatilar420"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/akash-gupta-6a3723205"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Aman Tyagi.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Aman Tyagi </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/peacetyagi/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/amantyagi22"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/mwlite/in/aman-tyagi-700a06190"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Anisha Srivastava.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Anisha Srivastava </span>

        <div class="team__iconbox">
          <a
            href="https://instagram.com/anisha_srivastavaa?igshid=t2z5rk8fzbm6"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="http://github.com/anisha2508"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/anisha-srivastava-8005881b5"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Ankit Yadav.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Ankit Yadav </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/last__virus/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/ankityadav120140"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/ankit-yadav-b54a93135"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Apurv Rai.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Apurv Rai </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/raiii.sahab/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/ApurvRai"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/apurv-rai-ba95421a1"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Ayush.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Ayush khandelwal </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/ayush_khandelwal08/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/ayushkwal"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/mwlite/in/ayush-khandelwal-2058b71aa"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Ayushi Singh.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Ayushi Singh </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/ayushisingh0713/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/ayushisingh130"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/ayushi-singh-1325121b4"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Ayushi Tyagi.jpeg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Ayushi Tyagi </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/_ayusshhhii_/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/Ayushi2422-tech"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/ayushi-tyagi-4912221a9"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Deepak Gupta.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Deepak Gupta </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/__mr__deepp__/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/Deepak00001"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/deepak-gupta-4115021b5"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Divykant Sengar.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Divyakant Sengar </span>

        <div class="team__iconbox">
          <a
            href="https://instagram.com/divykantsengar?igshid=1no2i28jiyi8x"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/Divykant"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/divykant-sengar-21066a1b4"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Harsh Vardhan Singh.jpeg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Harsh Vardhan Singh </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/vharsh_2101/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/HarshSingh2101"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/harsh-vardhan-986145176/"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Kartik Mishra.jpeg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Kartik Mishra </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/the_kartikmishra/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/9984995796"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/kartik-mishra-68452a1b2"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Keshav Arora.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Keshav Arora </span>

        <div class="team__iconbox">
          <a
            href="https://instagram.com/keshav.__.arora?igshid=wfvkuca4dmml"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/keshav0114"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/keshav-arora-336909187/"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Niharika Varshney.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Niharika Varshney </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/niharika__2611/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/Niharikka26"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/niharika-varshney-146a471b2"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Prerit Mishra.jpeg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Prerit Mishra </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/mishra_prerit"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/Prerit7906"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/prerit-mishra-2405031b5"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Rajat Mangat.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Rajat Mangat </span>

        <div class="team__iconbox">
          <a
            href="https://instagram.com/rajatmangat?igshid=1fjsv66jbakwu"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/Rajat-5357"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/rajat-mangat-884b691a6"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Satyam Singh.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Satyam Singh </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/code_reader_/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/singh823232"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/satyam-singh-3835731a9"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/Ujjwal Agarwal.jpg"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Ujjwal Agarwal </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/14ujjwal32?r=nametag"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/UjjwalAgarwal14"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/ujjwal-agarwal-8b05011b5"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      //edit
      <div class="team__imgbox">
        <figure class="team__imgshape">
          <img
            src="/images/team/3yr/images/yash jaiswal.PNG"
            alt="first"
            class="team__member-photo"
          />
        </figure>

        <span class="team__member-name"> Yash Jaiswal </span>

        <div class="team__iconbox">
          <a
            href="https://www.instagram.com/yashj_7_/"
            class="team__iconlink"
            target="_blank"
          >
            <svg
              class="team__iconlink--facebook"
              style="height: 20px; width: 20px; margin-top: 2.6px"
            >
              <use xlink:href="/images/team/images/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a
            href="https://github.com/yashj-7"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--github">
              <use xlink:href="/images/team/images/sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/yash-jaiswal-8955011b5/"
            class="team__iconlink"
            target="_blank"
          >
            <svg class="team__iconlink--linkedin">
              <use xlink:href="/images/team/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
    </section>

    <footer id="contact_us">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1471.7730863857932!2d77.50373911730475!3d28.67510364168703!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6ce36e4b8bdd1bad!2sCSIAKGEC!5e0!3m2!1sen!2sin!4v1556215241925!5m2!1sen!2sin"
        width="100%"
        height="300"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>
      <div class="footer__container">
        <div class="footer__main">
          <div class="footer__bg">
            <img src="../../images/logocsiCenter.png" alt="" />
          </div>

          <div class="footer__left">
            <div class="footer__main__heading noselect">CONTACT US</div>
            <div class="footer__mission">
              <h1>Our Mission</h1>
              <p>
                Our Mission is to facilitate research, knowledge sharing,
                learning and career enhancement for all categories of IT
                Professionals, while simultaneously inspiring and nurturing new
                entrants into the industry and helping them to integrate into
                the IT community. we are also working closely with other
                industry associations, government bodies and academia to ensure
                that the benefits of IT advancement ultimately percolate down to
                every single citizen of India.
              </p>
            </div>
          </div>

          <div class="footer__main__content" style="margin-top: 5%">
            <div class="footer__main__text">
              <h1>Address</h1>
              <p>
                - Basic IT Lab, Third Floor, CS-IT Block, Ajay Kumar Garg
                Engineering College, Ghaziabad - 201009
              </p>
            </div>
            <div class="footer__main__text">
              <h1>Email</h1>
              <p>- csi@outlook.in</p>
            </div>
            <div class="footer__main__text">
              <h1>Call Us</h1>
              <p>- +91-8318276304, +91-7275390010</p>
            </div>
          </div>
          <div class="footer__featured">
            <h1>Featured Links</h1>
            <div class="footer__featured__links">
              <a href="https://akgec.ac.in/" target="_blank">AKGEC</a>
              <a href="../../events/event_initiative/initiative.html"
                >The Initiative</a
              >
              <a href="http://www.csi-india.org" target="_blank">CSI India</a>
              <a href="http://www.csi-india.org/contact/" target="_blank"
                >CSI Headquarters</a
              >
            </div>
          </div>
        </div>
        <div class="footer__copy">
          <div class="footer__copy__section">
            <a href="https://akgec.ac.in/csi" target="_blank"
              >&copy; CSI AKGEC: 2019</a
            >
            &nbsp; &nbsp; <a href="../../privacy_policy.html">Privacy Policy</a>
          </div>
          <div class="footer__copy__section">
            <div class="footer__copy__icons">
              <a href="https://www.facebook.com/csi.akg/" target="_blank"
                ><img
                  src="../../images/svg/icons/facebook-black-social-button-circle.svg"
                  alt=""
              /></a>
              <a href="https://www.instagram.com/csi_akgec/" target="_blank"
                ><img src="../../images/svg/icons/instagram.svg" alt=""
              /></a>
              <a
                href="https://www.youtube.com/channel/UCrxGbgXygspoAIk5zhOClVQ"
                target="_blank"
              >
                <img src="../../images/svg/icons/youtube-symbol.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    $(function () {
      var rellax1 = new Rellax(".rellax1", {
        speed: -3,
        center: false,
        wrapper: null,
        round: true,
        vertical: true,
        horizontal: false,
      });
      var rellax2 = new Rellax(".rellax2", {
        speed: -2,
        center: false,
        wrapper: null,
        round: true,
        vertical: true,
        horizontal: false,
      });
      var rellax3 = new Rellax(".rellax3", {
        speed: 3,
        center: false,
        wrapper: null,
        round: true,
        vertical: true,
        horizontal: false,
      });
      //Scroll Effect
      var allBoxes = document.querySelectorAll(".team__imgbox");
      ScrollReveal().reveal(allBoxes, {
        delay: 100,
        duration: 1000,
        distance: "50px",
        origin: "bottom",
      });

      $(".navBtn").click(function () {
        $(".navBtn").toggleClass("nav_button-animation");
        $(".nav__container").toggleClass("expandNav");
        $(".topLinks").toggleClass("linkShow");
      });
    });
    $(window).load(function () {
      setTimeout(function () {
        $("#loader__main").fadeOut();
        setTimeout(function () {
          $("#loader__main").remove();
        }, 100);
      }, 2500);
    });
  </script>
</html>
